body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.img {
    margin: auto;
    animation-name: LTFTS;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    position: absolute;
    opacity: 1;
    animation-delay: -2s;
}

@keyframes LTFTS {

    0% {
        transform: scale(10);
        opacity: 1;

    }

    25% {
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 0;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 0;
        top: 300vh;
        left: 300vw;
        transform: scale(10);
    }

    52% {
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }
}






















.img2 {
    margin: auto;
    animation-name: LTFTS2;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    position: absolute;
    opacity: 1;
    /*animation-delay: -1s;*/
    top: 300vh;
    left: 300vw;
}

@keyframes LTFTS2 {

    0% {
        transform: scale(10);
        opacity: 1;

    }

    25% {
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 0;
        top: -300vh;
        left: 300vw;
        transform: scale(10);
    }

    52% {
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }
}


















.img3 {
    margin: auto;
    animation-name: LTFTS3;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    /*animation-delay: 1s;*/
    position: absolute;
    opacity: 1;
    top: -300vh;
    left: 300vw;
}

@keyframes LTFTS3 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    25% {
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 1;
        top: 600vh;
        left: -200vw;
        transform: scale(10);
    }

    52% {
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }
}





































.img4 {
    margin: auto;
    animation-name: LTFTS4;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    position: absolute;
    opacity: 1;
    animation-delay: 2.5s;
    top: -300vh;
    left: -300vw;
}

@keyframes LTFTS4 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    25% {
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        filter: hue-rotate(0deg);
    }

    50.001% {
        opacity: 0;
    }


    99.99% {
        opacity: 1;
    }


    100% {
        transform: scale(3);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        filter: hue-rotate(360deg);

    }
}























.img5 {
    margin: auto;
    animation-name: LTFTS5;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: -2s;
    position: absolute;
    opacity: 1;
    top: 200vh;
    left: -100vw;
}

@keyframes LTFTS5 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }
}