html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Fond.webp);
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p,
h1,
h2 {
    font-family: calibri;
    width: 40%;
    margin: auto;
}

:root {
    --intro-text-time: 3s;
    --intro-screen-time: 10s;
    --logo-time: 10s;
    --text-font-size: 5vw;
    --intro-tsft: 13s;
}

.intro {
    color: #1cdce9;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    animation: disapear 0ms forwards calc(var(--intro-screen-time) + var(--intro-tsft) + 200ms);
}

.intro>p {
    position: relative;
    top: 42%;
    width: 32ch;
    font-size: 3rem;
    margin: auto;
    animation: fade-out calc(var(--intro-screen-time) - var(--intro-text-time)) forwards calc(var(--intro-text-time) + var(--intro-tsft));
    opacity: 0;
}

@keyframes disapear {
    100% {
        transform: translate(-900000px, -900000px);
    }
}

@keyframes fade-out {
    10% {
        opacity: 1
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }

}

.text-container {
    position: absolute;
    text-align: justify;
    color: #ffc902;
    animation: perspective 0s forwards -2s;
    margin: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    /* overflow: hidden; */
    top: 29vh;
    /* padding-top: 200vh;*/
}

.text-container> :first-child {
    padding-top: 500px;
    margin-bottom: 0.2em;
}

.text-container> :nth-child(2) {
    margin-bottom: 0.2em;
}


#h2 {
    text-align: center;
    font-family: 'Agency FB', arial;
    font-size: 6vw;
    letter-spacing: 2px;
}


@keyframes perspective {
    100% {
        transform: perspective(500px) rotateX(25deg);

    }
}

.skewed-text {
    animation: stgenerique 150s forwards calc(var(--intro-screen-time) + var(--logo-time) + var(--intro-tsft) - 5s) linear;
    font-size: var(--text-font-size);
    width: 100%;
}

h1.skewed-text {
    font-size: 10vw;
}

@keyframes stgenerique {
    35% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    43% {
        opacity: 0;
    }

    100% {
        transform: scale(0) translate(0px, -7000px);
        opacity: 0;
    }
}

.logo img {
    animation: logo var(--logo-time) ease forwards calc(var(--intro-screen-time) + var(--intro-tsft) - 500ms);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes logo {

    5% {
        opacity: 0;
    }

    6% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }

}

audio {
    animation: audio 25s forwards calc(var(--intro-screen-time) + var(--intro-tsft));
    position: absolute;
    top: 0;
}

@keyframes audio {
    0% {
        opacity: 1;
    }

    9% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*-------------------------------------------------------------------------------*/

.img {
    margin: auto;
    animation-name: LTFTS;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    position: absolute;
    opacity: 1;
    animation-delay: -2s;
}

@keyframes LTFTS {

    0% {
        transform: scale(10);
        opacity: 1;

    }

    25% {
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 0;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 0;
        top: 300vh;
        left: 300vw;
        transform: scale(10);

    }

    52% {
        opacity: 0;
    }

    99.99% {
        z-index: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        z-index: -1;
    }
}

/*-------------------------------------------------------------------------*/

.img2 {
    margin: auto;
    animation-name: LTFTS2;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    animation-timing-function: ease-out;
    position: absolute;
    opacity: 1;
    /*animation-delay: -1s;*/
    top: 300vh;
    left: 300vw;
}

@keyframes LTFTS2 {

    0% {
        transform: scale(10);
        opacity: 1;

    }

    25% {
        opacity: 1;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 0;
        top: -300vh;
        left: 300vw;
        transform: scale(10);
    }

    52% {
        opacity: 0;
    }

    99.99% {
        z-index: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        z-index: -1;
    }
}

/*-------------------------------------------------------------------------*/

.img3 {
    margin: auto;
    animation-name: LTFTS3;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    /*animation-delay: 1s;*/
    position: absolute;
    opacity: 1;
    top: -300vh;
    left: 300vw;
}

@keyframes LTFTS3 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    25% {
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
    }

    50.1% {
        opacity: 1;
        top: 600vh;
        left: -200vw;
        transform: scale(10);
    }

    52% {
        opacity: 1;
    }

    99.99% {
        z-index: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        z-index: -1;
    }
}

/*-------------------------------------------------------------------------*/

.img4 {
    margin: auto;
    animation-name: LTFTS4;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    position: absolute;
    opacity: 1;
    animation-delay: 2.5s;
    top: -300vh;
    left: -300vw;
}

@keyframes LTFTS4 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    25% {
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        filter: hue-rotate(0deg);
    }

    50.001% {
        opacity: 0;
    }


    89.99% {
        opacity: 1;
    }


    90% {
        transform: scale(3);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        filter: hue-rotate(720deg);

    }

    99.99% {
        z-index: 1;
    }

    100% {
        opacity: 0;
        top: 33vh;
        left: 32vw;
        transform: scale(3);
        display: none;
        z-index: -1;

    }
}

/*-------------------------------------------------------------------------*/

.img5 {
    margin: auto;
    animation-name: LTFTS5;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: -2s;
    position: absolute;
    opacity: 1;
    top: 200vh;
    left: -100vw;
}

@keyframes LTFTS5 {

    0% {
        transform: scale(10);
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    99.99% {
        z-index: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
        top: 33vh;
        left: 32vw;
        z-index: -1;
    }
}